<h1>Regulamento</h1>
<hr>
<p>
<%=image_tag("regulamento/1.jpg")%><br />
<%=image_tag("regulamento/2.jpg")%><br />
<%=image_tag("regulamento/3.jpg")%><br />
<%=image_tag("regulamento/4.jpg")%><br />
<%=image_tag("regulamento/5.jpg")%><br />
<%=image_tag("regulamento/6.jpg")%><br />
<%=image_tag("regulamento/7.jpg")%><br />
	
</p>